{% extends "base.html" %}

{% block content %}
    <h1>Build a <s>Bear</s> Blog</h1>


    

<br>

{% for blog in blogs %}
<div class="grow">
<a href="/blog?id={{blog.id}}">
<span><b>{{blog.title}}</b></span>
</a>
<br>
<span>{{blog.post}}</span>
<br>
{% for user in users %}
{% if user.id == blog.owner_id %}

<span><i class="small"> Written by: <a class="small-a" href="/blog?user_id={{user.id}}">{{user.name}}</a> </i> </span>
{% endif %}
{% endfor %}
</div>
<br>

{% endfor %}
    

{% endblock %}